<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>count_operation</key>
	<integer>0</integer>
	<key>count_speed</key>
	<string>1</string>
	<key>count_icon</key>
	<integer>0</integer>
	<key>count_speech</key>
	<integer>1</integer>
	<key>count_number</key>
	<integer>5</integer>
	<key>calc_operation</key>
	<integer>0</integer>
	<key>calc_speed</key>
	<integer>1</integer>
	<key>calc_icon</key>
	<integer>0</integer>
	<key>calc_speech</key>
	<integer>1</integer>
	<key>calc_arithmetic</key>
	<integer>0</integer>
</dict>
</plist>
